@import "tailwindcss";
@import "tw-animate-css";

/* Black & White */
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/black-alpha.css";

/* Gray */
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";

/* Red */
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";

/* Green */
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/green-dark-alpha.css";

/* Blue */
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue-dark-alpha.css";

@custom-variant dark (&:is(.dark *));

@theme {
    /* Purge base theme */
    --blur-*: initial;
    --color-*: initial;
    --shadow-*: initial;
    --drop-shadow-*: initial;
    --inset-shadow-*: initial;
    --leading-*: initial;
    --radius-*: initial;
    --text-*: initial;
    --text-shadow-*: initial;
    --tracking-*: initial;
    --breakpoint-*: initial;
    --container-*: initial;

    /* Breakpoints */
    --breakpoint-xs: 30rem;
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;

    /* Containers */
    --container-3xs: 16rem;
    --container-2xs: 18rem;
    --container-xs: 20rem;
    --container-sm: 24rem;
    --container-md: 28rem;
    --container-lg: 32rem;
    --container-xl: 36rem;
    --container-2xl: 42rem;
    --container-3xl: 48rem;
    --container-4xl: 56rem;
    --container-5xl: 64rem;
    --container-6xl: 72rem;
    --container-7xl: 80rem;

    /* Blur */
    --blur: 1.5rem;

    /* Typography */
    --text-3xl: 2.125rem;
    --text-3xl--line-height: 2.5625rem;
    --text-3xl--letter-spacing: 0.012em;
    --text-2xl: 1.75rem;
    --text-2xl--line-height: 2.125rem;
    --text-2xl--letter-spacing: 0.014em;
    --text-xl: 1.375rem;
    --text-xl--line-height: 1.75rem;
    --text-xl--letter-spacing: -0.012em;
    --text-lg: 1.25rem;
    --text-lg--line-height: 1.5625rem;
    --text-lg--letter-spacing: -0.023em;
    --text-base: 1.0625rem;
    --text-base--line-height: 1.375rem;
    --text-base--letter-spacing: -0.026em;
    --text-sm: 1rem;
    --text-sm--line-height: 1.3125rem;
    --text-sm--letter-spacing: -0.02em;
    --text-xs: 0.9375rem;
    --text-xs--line-height: 1.25rem;
    --text-xs--letter-spacing: -0.016em;
    --text-2xs: 0.8125rem;
    --text-2xs--line-height: 1.125rem;
    --text-2xs--letter-spacing: -0.006em;
    --text-3xs: 0.75rem;
    --text-3xs--line-height: 1rem;
    --text-3xs--letter-spacing: 0em;
    --text-4xs: 0.6875rem;
    --text-4xs--line-height: 0.8125rem;
    --text-4xs--letter-spacing: 0.006em;
}

:root {
    /* Semantic */
    --background: var(--white-a12);
    --foreground: var(--black-a12);
    --card: var(--gray-1);
    --card-foreground: var(--gray-a12);
    --popover: var(--gray-1);
    --popover-foreground: var(--foreground);
    --primary: var(--gray-12);
    --primary-foreground: var(--foreground);
    --secondary: var(--gray-3);
    --secondary-foreground: var(--gray-12);
    --muted: var(--gray-a3);
    --muted-foreground: var(--gray-10);
    --accent: var(--gray-3);
    --accent-foreground: var(--gray-11);
    --destructive: var(--red-a11);
    --success: var(--green-4);
    --success-foreground: var(--green-11);
    --info: var(--blue-4);
    --info-foreground: var(--blue-11);
    --border: var(--gray-a4);
    --input: var(--gray-4);
    --ring: var(--gray-5);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: var(--gray-a2);
    --sidebar-foreground: var(--gray-11);
    --sidebar-primary: var(--gray-9);
    --sidebar-primary-foreground: var(--foreground);
    --sidebar-accent: var(--gray-a3);
    --sidebar-accent-foreground: var(--gray-a12);
    --sidebar-border: var(--gray-a4);
    --sidebar-ring: var(--gray-5);
}

.dark {
    /* Semantic */
    --background: var(--black-a2);
    --foreground: var(--white-a12);
    --card: var(--gray-a2);
    --card-foreground: var(--gray-a12);
    --popover: var(--gray-2);
    --popover-foreground: var(--gray-12);
    --primary: var(--gray-12);
    --primary-foreground: var(--black-a12);
    --secondary: var(--gray-a5);
    --secondary-foreground: var(--gray-12);
    --muted: var(--gray-a3);
    --muted-foreground: var(--gray-10);
    --accent: var(--gray-5);
    --accent-foreground: var(--gray-11);
    --destructive: var(--red-a11);
    --success: var(--green-a4);
    --success-foreground: var(--green-11);
    --info: var(--blue-a4);
    --info-foreground: var(--blue-11);
    --border: var(--gray-a4);
    --input: var(--gray-4);
    --ring: var(--gray-5);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: var(--black-a9);
    --sidebar-foreground: var(--gray-a11);
    --sidebar-primary: var(--primary-9);
    --sidebar-primary-foreground: var(--foreground);
    --sidebar-accent: var(--gray-a3);
    --sidebar-accent-foreground: var(--gray-a12);
    --sidebar-border: var(--gray-a4);
    --sidebar-ring: var(--gray-5);
}

@theme inline {
    /* Radii */
    --radius: 0.625rem;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);

    /* Spacing */
    --spacing-container: calc(var(--spacing) * 6);
    --spacing-header: calc(var(--spacing) * 12);

    /* Colors */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    html,
    body {
        @apply h-full min-h-full;
    }

    body {
        @apply bg-background text-foreground isolate overflow-y-scroll overscroll-none scroll-smooth antialiased;
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: hsl(var(--border));
        border-radius: 5px;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--border) transparent;
    }
}

@utility container {
    @apply px-container mx-auto;
}
